[user]
  name = github.username
  email = github.email

[alias]
  st = status
  s = status
  fetch = fetch --prune
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  b = branch
  ba = branch -a

[core]
  editor = /usr/bin/vim
[color]
  ui = true
